*,
*::after,
*::before {
  box-sizing: inherit;
}

body, input {
  font-family: 'Segoe UI';
  font-size: 16px;
}

input {
  padding: 0.6em;
  border: 1px gray solid;
}

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.application {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.chat-group {
  text-align: center;
  display: flex;
  height: 100%;
  flex: 1 1 auto;
  flex-wrap: wrap;
}

.chat-panel {
  border: 2px black solid;
  padding: 1em;
  margin: 1em;
  flex: 0 1;
  margin-top: 0;
}

.chat-wrapper {
  background-color: rgb(230, 231, 231);
  border: 2px black solid;
  flex: 1;
  padding: 1em;
  margin: 1em;
  margin-bottom: 0;
  flex: 0 0 31%;
  height: calc(50vh - 80px);
}

.chat-wrapper:not(:last-child) {
  margin-right: 0;
}

.chat-wrapper:nth-last-child(-n+3):first-child,
.chat-wrapper:nth-last-child(-n+3):first-child ~ .chat-wrapper {
  height: calc(100vh - 160px);
}

.chat-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.message-field-container {
  text-align: left;
  width: 100%;
  flex: 0 1;
  margin-top: 1em;
}

.message-button {
  border-left: 0;
} 

.message-text {
  width: 70%;
}

.chat-title {
  border: 1px gray solid;
  padding: 10px 5px;
  flex: 0 1 auto;
  color: white;
  position: relative;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
}

.conversation {
  background-color: white;
  border: 1px black solid;
  margin-top: 1em;
  text-align: left;
  flex: 1 1 auto;
  padding: 1em;
  overflow: auto;
}

.message-row {
  width: 100%;
  display: flex;
  align-items:flex-end;
  margin-top: 5px;
}

.message-row .userName {
  width: 60px;
  text-align: right;
  padding-bottom: 5px;
  flex: 0 0 60px;
}

.message-row .userName.itsme {
  font-weight: bold;
}

.message-row .userMessage {
  flex-grow:1;
  background-color: rgb(208, 232, 240);
  border-radius: 3px;
  margin: 0 10px;
  padding: 5px 8px;
}

.message-row .userMessage.systemMessage {
  background-color: rgb(235, 235, 235);
  font-style: italic;
}

.message-row .timestamp {
  font-size: 14px;
  font-style: italic;
  padding-bottom: 5px;
  flex: 0 0 60px;
}

.chat-panel {
  background-color: rgb(241, 255, 219);
}

.chat-panel .btn:not(:first-child) {
  margin-left: 1em;
}

.exit-chat {
  position: absolute;
  padding: 2px 5px;
  right: 0.6em;
  top: 0.8em;
  border-radius: 3px;
  font-size: 14px;
}