body, input {
  font-family: 'Segoe UI';
  font-size: 16px;
}

input {
  padding: 0.6em;
  border: 1px gray solid;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.application {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.chat-group {
  text-align: center;
  display: flex;
  height: 100%;
  flex: 1 1 auto;
}

.chat-panel {
  border: 2px black solid;
  padding: 1em;
  margin: 1em;
  flex: 0 1;
  margin-top: 0;
}

.chat-wrapper {
  background-color: rgb(230, 231, 231);
  border: 2px black solid;
  flex: 1;
  padding: 1em;
  margin: 1em;
  
}

.chat-wrapper:not(:first-child) {
  margin-left: 0;
}

.chat-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.message-field-container {
  text-align: left;
  width: 100%;
  flex: 0 1;
  margin-top: 1em;
}

.message-button {
  border-left: 0;
} 

.message-text {
  width: 70%;
}

.chat-title {
  border: 1px gray solid;
  padding: 10px 5px;
  flex: 0 1 auto;
  color: white;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
}

.conversation {
  background-color: white;
  border: 1px black solid;
  margin-top: 1em;
  text-align: left;
  flex: 1 1 auto;
  padding: 1em;
}

.message-row {
  width: 100%;
  display: flex;
  align-items:flex-end;
  margin-top: 5px;
}

.message-row .userName {
  width: 60px;
  text-align: right;
  padding-bottom: 5px;
  flex: 0 0 60px;
}

.message-row .userName.itsme {
  font-weight: bold;
}

.message-row .userMessage {
  flex-grow:1;
  background-color: rgb(208, 232, 240);
  border-radius: 3px;
  margin: 0 10px;
  padding: 5px 8px;
}

.message-row .timestamp {
  font-size: 14px;
  font-style: italic;
  padding-bottom: 5px;
  flex: 0 0 60px;
}

.chat-panel {
  background-color: rgb(241, 255, 219);
}

.chat-panel .btn {
  /* border-color: #1a7ab9;
  background-color: #1d89cf;
  color: white */
}

.chat-panel .btn:not(:first-child) {
  margin-left: 1em;
}