body {
  font-family: 'Segoe UI'
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  height: 100%;
}

.chat-wrapper {
  background-color: rgb(230, 231, 231);
  border: 2px black solid;
  flex: 1;
  padding: 1em;
  margin: 1em;
  
}

.chat-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.message-field-container {
  text-align: left;
  width: 100%;
  flex: 0 1;
  margin-top: 1em;
}

.message-text, .message-button {
  padding: 8px;
  font-size: 16px;
}

.message-text {
  width: 50%;
}

.chat-title {
  background-color: rgb(191, 216, 162);
  padding: 5px;
  flex: 0 1 auto;
}

.user-name {
  font-size: 20px;
  font-weight: bold;
}

.conversation {
  background-color: white;
  border: 1px black solid;
  margin-top: 1em;
  text-align: left;
  flex: 1 1 auto;
  padding: 1em;
}

.message-row {
  width: 100%;
  display: flex;
  align-items:flex-end;
  margin-top: 5px;
}

.message-row .userName {
  width: 80px;
  text-align: right;
  padding-bottom: 5px;
}

.message-row .userName.itsme {
  font-weight: bold;
}

.message-row .userMessage {
  flex-grow:1;
  background-color: rgb(208, 232, 240);
  border-radius: 3px;
  margin: 0 10px;
  padding: 5px 8px;
}

.message-row .timestamp {
  font-size: 14px;
  font-style: italic;
  padding-bottom: 5px;
}